<h1>Voy a crear una opinion</h1>
{% if opinion  %}
    <p>Opinion {{ opinion }}</p>
{% endif %}
{% if autor %}
    <p>Autor: {{ autor }}</p>
{% endif %}
{% if zona %}
<p>Zona: {{ zona }}</p>
{% endif %}
{% if ciudad %}
<p>Ciudad: {{ ciudad }}</p>
{% endif %}

<form method="post" action="{{ path('insertarOpinion') }}" id="form-opinion">
    <label for="opinionText">Inserte su opinión:</label>
    <textarea name="opinionText" id="opinion" rows="4" cols="50" required="required">
    </textarea>
    <label for="autor">Autor:</label>
    <input name="autor" type="text" required="required">

     <label for="zona">Zona:</label>
    <select name="zona">
        <option name="cuzco">Cuzco</option>
        <option name="chamberi">Chamberi</option>
        <option name="ponzano">Ponzano</option>
    </select>
     <select name="ciudad">
        <option name="madrid">Madrid</option>
        <option name="barcelona">Barcelona</option>
        <option name="sevilla">Sevilla</option>
    </select>
    <input type="submit">
</form>