<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/style.css"> 
        {% endblock %}

    
    <title>Maleteo</title>
</head>
<body>
    <main>
     {% for flashMessage in app.session.flashbag.get('notice-sesion') %}
    <div class="flash-notice slideDown">
        {{ flashMessage }}
    </div>
    {% endfor %}
     {% block header %}
        <header>
            <picture>
                <a href="{{ path('maleteo') }}"><img src="assets/img/logo.svg" alt="Logo Maleteo"></a>
            </picture>
        </header>
     {% endblock %}
     {% block body %}
      
        
        <section id="login">
        
            {% for message in app.flashes('success') %}
                <div class="no-error">
                    {{ message }}
                </div>
            {% endfor %}
              {% for message in app.flashes('error') %}
                <div class="error">
                    {{ message }}
                </div>
            {% endfor %}



            <!-- onsubmit="return validarAlEnviar()"-->
            <form id="registro" name="registro" class="contacto-formulario"  method="Post">
                <h3>Acceder a la DEMO</h3>
                
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="vincent@gmail.com" required="required">
                <div><p id="errorEmail"></p></div>
                
                <label for="contraseña">Contra</label>
                <input type="password" name="contraseña" id="contraseña" placeholder="contraseña" required="required">
                <div><p id="errorEmail"></p></div>
                <input type="submit" value="LOGIN" id="btnEnviar">
                <a href="{{ path('registro') }}" class="url-login">{{ url }}</a>
            </form>
        </section>
       
        <footer>
            <picture><img src="assets/img/logo.svg" alt="Logo Maleteo"></picture>
            <p>Hecho con <span class="hearts">&hearts;</span> en Madrid</p>
        </footer>
    </main>
    {% endblock %}
        {% block javascripts %}
        <script src="/assets/js/validacion.js"></script>
        <script src="/assets/js/login.js"></script>
        {% endblock %}
    
</body>
</html>