
<ul>
 <h1>Listado de Opiniones DB:</h1>
   
    {% for opinion in opiniones%}
          
           
            <p>
            Opinion: {{ opinion.opinion}}<br/>
            Autor: {{ opinion.autor}}<br/>
            Zona: {{ opinion.zona}}<br/>
            Ciudad: {{ opinion.ciudad}}<br/>
            -------------------
            </p>
         
            
            
    {% endfor %}
</ul>