<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/style.css"> 
        {% endblock %}

    
    <title>Maleteo</title>
</head>
<body>
    <main>
     {% block header %}
        <header>
            <picture>
                <img src="assets/img/logo.svg" alt="Logo Maleteo">
            </picture>
        </header>
     {% endblock %}
     {% block body %}
      
        
        <section id="login">
           
            
            {% for message in app.flashes('success') %}
                <div class="no-error">
                    {{ message }}
                </div>
            {% endfor %}
              {% for message in app.flashes('error') %}
                <div class="error">
                    {{ message }}
                </div>
            {% endfor %}
            
           
        
            <!-- onsubmit="return validarAlEnviar()"-->
            <form id="registro" name="registro" class="contacto-formulario" action="{{ path('registro') }}" method="Post">
                <h3>REGISTRO EN DEMO</h3>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Vincent Chase" required="required">
                <div><p id="errorNombre"></p></div>

                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="vincent@gmail.com" required="required">
                <div><p id="errorEmail"></p></div>
                
                <label for="contraseña">Contra</label>
                <input type="password" name="contraseña" id="contraseña" placeholder="contraseña" required="required">
                <div><p id="errorEmail"></p></div>
                <input type="submit" value="REGISTRARME" id="btnEnviar">
                <a href="{{ path('login') }}" class="url-login">{{ url }}</a>
            </form>
        </section>
       
        <footer>
            <picture><img src="assets/img/logo.svg" alt="Logo Maleteo"></picture>
            <p>Hecho con <span class="hearts">&hearts;</span> en Madrid</p>
        </footer>
    </main>
    {% endblock %}
        {% block javascripts %}
        <script src="/assets/js/validacion.js"></script>
        <script src="/assets/js/registro.js"></script>
        {% endblock %}
    
</body>
</html>