
<ul>
 <h1>Demo detalles:</h1>
   
    {% for demo in demos %}
          
           
             <p>Nombre: {{ demo.nombre}}<br/>
                Email: {{ demo.email }}<br/>
                Ciudad: {{ demo.ciudad }}<br/>
                -------------------
                </p>
            
    {% endfor %}
</ul>