<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            {% set nombre = "KIKO" %}
            {# ESTO ES UN COMENTARIO #}
            <h1>{{ nombre }}</h1>
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
