{% extends 'homepage.html.twig' %}
{% block title %}Bienvenidos a Contacto{% endblock %}

{% block body %}
<h2>FORMULARIO DE CONTACTO</h2>
<form>
<label>Nombre <input></label>
<input type="submit">
</form>
{% endblock %}
