<h1>Voy a crear una Serie</h1>
{% if titulo %}
<p> Titulo es {{ titulo }}</p>
{% endif %}
{% if categoria %}
<p> Categoria: {{ categoria }}</p>
{% endif %}
{% if descripcion %}
<p> Descripcion: {{ descripcion }}</p>
{% endif %}
<form method="post" action="{{path('createSerie')}}">
    <input name="titulo" type="text">
    <input name="descripcion" type="textarea">
    <select name="categoria">
        <option value="terror">Terror</option>
        <option value="comedia">Comedia</option>
        <option value="fantasia">Fantasia</option>
    </select>
    <input value="Enviar" type="submit">
</form>