<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenidos a mi Homepage{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/styles.css"> 
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
            <ul>
                <li><a href="{{ path('homepage') }}"><img src="/assets/img/flooop.png" width="100"></a></li>
                <li><a href="/quienes">quienes somos</a></li>
                <li><a href="/que">Que hacemos</a></li>
                <li><a href="{{ path('contacto') }}">Contacto</a></li>
             </ul>
            </header>
        {% endblock %}
        {% block body %}
<h2>HOME</h2>
<h3>Hola {{ nombre | capitalize }}</h3>
        
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
