{% extends 'base.html.twig' %}

        {% block stylesheets %}
        <link rel="stylesheet" href="/assets/css/styles.css"> 
        {% endblock %}

        {% block body %}
        <h2>LIstado de Peliculas</h2>
        <table>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
            </tr>
            
        {% for pelicula in peliculas %}
            <tr {% if loop.index0 %2 ==0 %} class="cebra" {% endif %}>
                <td>{{ pelicula.nombre }}</td>
                <td>{{ pelicula.descripcion }}</td>
            </tr>
        {% endfor %}

        </table>
        {% endblock %}
        