{% extends 'base.html.twig' %}

{% block body %}
<h2>Esta ES LA PÁGINA QUE HACEMOS</h2>
<ul>
    <li><a href="home">Home</a></li>
    <li><a href="quienes">quienes somos</a></li>
    <li><a href="que">Que hacemos</a></li>
    <li><a href="contacto">Contacto</a></li>
</ul>

<p>Hacemos cosas Geniales</p>
{% endblock %}
