*{padding:0px;margin:0px;text-decoration:none; list-style:none;
    box-sizing:border-box;font-family: Catamaran, sans-serif;}
/* Main */
main{}
/* Header */
header{display:flex;justify-content:start; align-items:center; height:20vh;margin-left:20vw;}
    header picture{}
    header picture img{}
header h2{font-size:14px;display:flex;justify-content: flex-end;width:50vw;}
header h2 a{padding-left:8px;}
.logo-header{padding-left: 17vw;}
/* Jumbotron */
#jumbotron{background: url("/assets/img/jumbo@2x.jpg") no-repeat top center;
    width:100%;height:60vh;background-size:cover;display: flex; align-items: center;}
    #jumbotron article.stores{background-color: rgba(0, 0, 0, 0.5);width:25vw;height:100%;padding:20px;
        margin-left:20vw;display: flex;flex-direction: column;justify-content:center;}
        #jumbotron article.stores h1{color:white;font-size:40px;font-weight:normal;width:90%}
        #jumbotron article.stores .store-logos{margin-top:10px;display:flex;justify-content:space-around}
        #jumbotron article.stores .store-logos img{}
        #jumbotron article.stores .store-logos img:first-child{}
/* Como funciona */
#como-funciona{width:100%;text-align: center;padding:20px 0;}
    #como-funciona h2{font-size:30px;padding:20px 0;font-weight:normal;}
        #como-funciona article.pasos{display:flex;flex-direction:row;justify-content:space-around;}
        #como-funciona article.pasos .paso{width:30%;text-align: center;padding:20px;
            display:flex;flex-direction:column;align-items:center;
        }
        #como-funciona article.pasos .paso .paso-circulo{
            width:55px;height:55px;border-radius:50%;padding-top:5px;
            font-size:36px;color:white;
            background: linear-gradient(to bottom, rgba(255,204,64,1) 0%, rgba(255,171,46,1) 100%);
        }
        #como-funciona article.pasos .paso h3{font-size:30px;padding:10px 0;font-weight:normal;}
        #como-funciona article.pasos .paso p{width:70%;font-size:18px;}
        .no-error,.error{font-size:18px;font-weight: bold;margin:10px 0;}
        .error{color:red;}
        .no-error{color:green;}
/* Contacto */
#login{display: flex;flex-direction: column;justify-content: space-around;
	align-items: center;/*align-items: stretch;*/}
#contacto{display: flex;flex-direction: row;justify-content: space-around;
	align-items: center;/*align-items: stretch;*/}
  #contacto picture{display:flex; flex-direction:column;}
  #contacto picture img{width:60%;}
  .contacto-formulario{width:30%;border:solid 1px #ccc;padding:30px;
  display:flex;flex-direction:column;/*height:80vh;*/justify-content: space-around;}
    .contacto-formulario h3{font-size:24px;padding-bottom:15px;}
        .contacto-formulario label{margin:10px 0;}
        .contacto-formulario input, 
        .contacto-formulario select{padding:5px 5px;border:solid 1px #999999;font-size:15px;}
        .contacto-formulario select{background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(224,224,224,1) 100%);}
        .contacto-formulario label.privacidad{display:flex;flex-direction:row;align-items: center;}
        .contacto-formulario label #privacidad{margin-right:8px;}
        .contacto-formulario label a{margin-left:5px;color:#fea42a;text-decoration:underline;}
        #btnEnviar{width:135px;height:50px;box-shadow:9px 9px 6px -7px rgba(0,0,0,0);margin-top:15px;
            background: linear-gradient(to bottom, rgba(255,204,64,1) 0%, rgba(255,171,46,1) 100%)}
            .form-input:valid,.contacto-formulario input.form-input-valid{border:solid 3px green;}
            .form-input:invalid,.contacto-formulario input.form-input-invalid{border:solid 3px red;}
            #errorNombre,#errorEmail,#errorCP,#errorTlfn,#errorEdad{color:red;display:none;}
            .url-login{font-size:18px;margin:8px 0;}
            /* Opiniones guardianes */
#opiniones-guardianes{width:100%;text-align: center;padding:20px 0;}
    #opiniones-guardianes h4{font-size:30px;padding:20px 0;font-weight:normal;}
    article.opiniones{display:flex;flex-direction:row;justify-content:space-around;}
    .opiniones .opinion{width:30%;padding:60px;text-align:left;
        display:flex;flex-direction:column;}
        .opiniones .opinion p{border:solid 1px #d3d3d3;padding:12px;}
        .opiniones .opinion .author{margin:8px 0 8px 10px;}
        .opiniones .opinion address{margin:8px 0 8px 10px;font-style:normal;}
/*Animacion de sesion open*/
.flash-notice{
	position: absolute;z-index: 101;top: 0;left: 0;right: 0;background: #fde073;text-align: center;line-height: 2.5;overflow: hidden; 
-webkit-box-shadow: 0 0 5px black;-moz-box-shadow:0 0 5px black;box-shadow:0 0 5px black;
	visibility: hidden;
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	

	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
/* Footer */
footer{background:#758898;display:flex;flex-direction:column;align-items:center;padding:40px 0;margin-top:20px;}
    footer p{font-size:15px;margin-top:6px;}    
    .hearts{color:red;font-size:40px;}


/* Media queries 1366px */
@media (max-width: 1366px) {
    
    #jumbotron article.stores{width:40vw;padding:30px;}
        #jumbotron article.stores .store-logos{justify-content:end;}
        #jumbotron article.stores .store-logos img:first-child{margin-right:8px;}
        
}
/* Media queries 1280px */
@media (max-width: 1280px) {
    
    #contacto{justify-content: normal;}
     .contacto-formulario{width:50%;}
    #contacto picture{width:40%;align-items: center;}
}
/* Media queries 1024px */
@media (max-width: 1024px) {
    
    #jumbotron article.stores{width:60vw;}
    #como-funciona article.pasos .paso{padding:0px;}
    #como-funciona article.pasos .paso p{font-size:inherit;}
   
    .opiniones .opinion{padding:0px;}
}
/* Media queries 800px */
@media (max-width: 800px) {
    /*cambio la imagen de fondo a más pequeña*/
#jumbotron{background:url("/assets/img/jumbo.jpg") no-repeat top center;}
    #jumbotron article.stores{width:80vw;margin-left:10vw;}
    #como-funciona article.pasos{flex-direction:column;}
    #como-funciona article.pasos .paso{width:100%;padding:20px 0;}
    #como-funciona article.pasos .paso p{width:100%;}
    #contacto picture{width:100%;justify-content: center;}
}
